<header>
	<h1>About</h1>
</header>

<main>
	<div class="container">
		<p>At Bro Reps, we are passionate about CrossFit and helping you reach your goals. Our equipment is top of the line and we guarantee all of our products or your money back. Some restrictions apply. If you are not satisfied with your purchase, contact us.</p>
	</div>
</main>