<header>
	<h1>About</h1>
</header>
<main>
	<div class="container">
    <h3>History</h3>
		<p>At Bro Reps, we are passionate about CrossFit and helping you reach your goals. Our equipment is top of the line and we guarantee all of our products or your money back. Some restrictions apply. If you are not satisfied with your purchase, contact us.</p>
    <h3>Our Mission</h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
    <h3>Our Guarantee</h3>
    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
	</div>
</main>
