<header>
  <h1>Bro Reps CrossFit Gear</h1>
  <h2>Featured Products</h2>
</header>
<div class="container">
  <div class="row image-row">
    <%= image_tag("kettlebells.jpg", class: "img-responsive") %>
  </div>  <!-- end row -->
</div> <!-- end container -->