<div class="product-reviews">
    <% @comments.each do |comment| %>
        <div class="row posted-reviews">
            <hr>
            <p><%= comment.user.first_name  %> <small class="time-ago"><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
            <div class="rated" data-score="<%= comment.rating %>"></div>
            <p><%= comment.body %></p>
        </div>
    <% end %>
</div>