<!--<% cache product do %> -->
  <div class="col-xs-12 col-sm-6 col-md-3 product-overview">
    <h2><%= link_to product.name, product %></h2>
    <% unless product.image_url.blank? %>
      <%= image_tag(product.image_url, class: "img-responsive") %> 
    <% end %>
    <p><%= product.description %></p>
    <strong><p>$<%= product.price %></p></strong>
  </div> <!--end column--> 
<!--<% end %>-->