/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**** Navigation ***/

.navbar {
  background-color: #D2D7D9;
}

.navbar-brand {
  padding: 0px;
}

#logo {
  height: 60px;
  padding: 15px;
  width: auto;
}

li {
  font-family: ribeye, Helvetica, sans-serif;
  padding: 15px 20px;
  color: #184161;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

/**** Footer ****/

footer {
  color: #858F93;
  padding: 15px;
  font-family: Helvetica, sans-serif;
  background-color: #D2D7D9;
}

hr {
  border-color: #858F93;
  width: 90%;
}

footer p {
  display: inline-block;
}

.right {
  float: right;
}

.nav>li>a {
  padding: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #184161;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  transform: scale(1.1);
  transition-delay: 100ms;
  -webkit-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
  color: #184161;

}

